
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    position: sticky;
    top: 0;
    max-height: 63px;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 25px 0px;
}

.navbar ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    font-size: 120%;
    font-weight : bold;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    background-color:transparent;
    height: 840px;
    justify-content: center;
    align-items: center;
    color:white;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("photos/Portada1.jpeg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 35px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color:  white;
    outline: none;
    transition: .6s ease;
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    /* box-shadow: 0 0 2px white, 0 0 5px white, 0 0 10px white;*/
    font-weight: bold;
}


/* About Section */

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 70px;
}

#pic{
    display: flex;
}

#pic img{
    width: 575px;
    height: 400px;
    margin-right: 50px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}


/* Portfolio Section */

#portfolio{
    display: flex;
    flex-direction: column;
    background-color:#ffebeb;
    color: #73000F;
    align-items: center;
    padding: 20px;
}

.click{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #73000F;
    padding: 0px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 380px;
    height: 260px;
    margin: 20px;
    margin-right: 100px;
    margin-left: 100px;
}


/* Interests Section */

#interests{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px;
}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    /*background: linear-gradient(to top,#cccfd1, white 100%);*/
    background-size: 100% 200%;
    transition: all .8s
}

.box:hover{
    background-position: left bottom; 
    color: #67788a;
    border-color: #67788a;
    box-shadow: #bee1dc;
    background-color: #f1f4f7;
}

.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 0px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #bee1dc;
    color: #19646E;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
    font-family: "Roboto", sans-serif;
}

.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

#send{
    width: 10%;
    padding: 10px;
    margin: 40px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #19646E;
    font-weight: 1000;
    font-family: "Roboto", sans-serif;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 5px white;
    font-family: "Roboto", sans-serif;
}
